@font-face {
    font-family: "Avenir Next";
    src: url("./assets/Avenir-next-lt-pro/AvenirNextLTPro-Regular.otf");
}

.cards-container-1 {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap; 
    padding: 20px;
    margin-bottom: 100px;
  }

  .habilidades-title {
    text-align: center;
    margin-top: 20px;
    color: #FF5700;
    font-family: "Avenir Next";
    font-size: 2rem;
    
  }
  .habilidades-title::after {
    content: "";
    display: block;
    width: 1170px;
    height: 1px;
    background-color: #FF5700;
    margin: 0 auto;
  }

  .cards-container-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 100px;
  }
  
  .proyectos-title {
    text-align: center;
    margin-top: 20px;
    color: #FF5700;
    font-family: "Avenir Next"; 
    font-size: 2rem;
  }
  .proyectos-title::after {
    content: "";
    display: block;
    width: 1170px;
    height: 1px;
    background-color: #FF5700;
    margin: 0 auto;
  }

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
}

.circle {
  position: absolute;
  width: 400px; 
  height: 400px;
  border-radius: 50%;
  background: rgba(255, 87, 0, 0.3); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  filter: blur(100px);
  opacity: 0.5;
}

.circle.one {
  top: 80%;
  left: 0%;
}

.circle.three {
  top: 0%;
  left: 80%;
}
.social-networks {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.social-networks button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.social-networks button img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-networks button:hover img {
  transform: scale(1.2);
}
