.cardp-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #161616; /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    width: 344px;
    height: 383px;
    
  }
  
  .cardp-container button {
    margin-top: auto; 
    align-self: flex-start; 
    padding: 8px 16px;
    border: none;
    color: #FF5700;
    cursor: pointer;
    border-radius: 5px;
  }
  .cardp-container:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 87, 0, 0.3);
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* 🚀 3. Movimiento Sutil */
  @keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  
  /* Aplica la animación de flotación constante */
  .cardp-container.floating {
    animation: floating 3s ease-in-out infinite;
  }
  .cardp-container button:hover {
    background-color: #2B2B2B;
  }

  .cardp-container h3 {
    color: #FF5700;
    font-family: "Avenir Next";
  }

  .cardp-container p {
    color: #ffffff;
    font-family: "Avenir Next";
  }
  