.cardp-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #161616; /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    width: 344px;
    height: 383px;
    
  }
  
  .cardp-container button {
    margin-top: auto; 
    align-self: flex-start; 
    padding: 8px 16px;
    border: none;
    color: #FF5700;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cardp-container button:hover {
    background-color: #000000;
  }

  .cardp-container h3 {
    color: #FF5700;
    font-family: "Avenir Next";
  }

  .cardp-container p {
    color: #ffffff;
    font-family: "Avenir Next";
  }
  